* {
  box-sizing: border-box;
  height: 100vh;
}
.container {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
  grid-template-areas:
    "box1 box1 box2 box2"
    "box1 box1 ... box3 box3"
    "box1 box1 box4 box4";
  border: 1px solid black;
}

.box1 {
  grid-area: box1;
  border: 1px solid black;
  background-color: blue;
}

.box2 {
  grid-area: box2;
  border: 1px solid black;
  background-color: crimson;
}

.box3 {
  grid-area: box3;
  border: 1px solid black;
  background-color: blueviolet;
}

.box4 {
  grid-area: box4;
  border: 3px solid black;
  background-color: violet;
}
