* {
  box-sizing: border-box;
  height: 100vh;
}
.container {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px;
  grid-template-areas:
    "header header header header"
    "header header header header"
    "header header header header"
    "header header header header"
    "side side   main main"
    "side  side  main main"
    "side  side   main main"
    "side side  main main"
    "side  side  main main"
    "side side  main main"
    "side  side  main main"
    "footer footer footer footer";
  border: 1px solid black;
}

.header {
  grid-area: header;
  border: 1px solid black;
  background-color: blue;
}

.side {
  grid-area: side;
  border: 1px solid black;
  background-color: crimson;
}

.main {
  grid-area: main;
  border: 1px solid black;
  background-color: blueviolet;
}

.footer {
  grid-area: footer;
  border: 3px solid black;
  background-color: violet;
}
