.container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}

.item {
  background-color: purple;
  color: white;
  font-size: 2rem;
  text-align: center;
  border: 2px solid black;
}

.first-row {
  background-color: pink;
}

.last-column {
  background-color: lightblue;
}
